  <!-- Navigation -->
  <nav class="navbar navbar-expand-sm navbar-dark sticky-top" id="mainNav">
    <div class="container">
      <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"><img alt="Logo" src="/img/logos/kkuweblogo512.png" style="width:64px;height:64px"></a> -->
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><object type="image/svg+xml" data="./img/svg/kkuweblogo_thickline.svg" class="svg-icon-64"></object></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-drafting-compass fa-2x"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#research">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#software">Software</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#aboutme">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="publications">Publications</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">kkuweb</div>
      </div>
    </div>
  </header>
