  <!-- Imprint Section -->
  <section id="imprint">
    <div class="container">
      <h5>Impressum</h5>
      <div id="anbieter">
        <p>
          Angaben gemäß § 5 TMG<br />
          <strong>Anbieter</strong><br />
          Kristian Ullrich<br />
          August Thienemann Str. 2<br />
          24306 Plön
        </p>
        <p>
        Email: ullrich(at)evolbio.mpg.de<br />
        https://kullrich.github.io
        </p>
      </div>
      <div id="quellen">
        <p>
          <strong>Websitedesign</strong><br />
          Kristian Ullrich
        </p>
        <p>
          <strong>Quellen</strong><br />
          <a href="https://www.e-recht24.de/">eRecht24</a>
        </p>
      </div>
      <div id="copyright">
        <p>
          <strong>Copyright</strong><br />
          &copy; Kristian Ullrich 2022
        </p>
        <p>
          Alle Elemente dieser Webseite sind durch das deutsche Copyright Gesetz geschützt. Kein Teil dieser Website darf ohne ausdrückliche schriftliche Genehmigung benutzt und reproduziert werden. Alle Rechte vorbehalten.
        </p>
      </div>
      <div id="haftung">
        <p>
          <strong>Haftung für Inhalte</strong><br />
          Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
          <br />
          Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.
          </p>
      <div id="urheberrecht">
        <p>
          <strong>Urheberrecht</strong><br />
          Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Alle auf dieser Webseite veröffentlichten Inhalte und Werke sind urheberrechtlich geschützt. Alle Bilder sind Eigentum des Urhebers und dürfen ohne Genehmigung desselben weder veröffentlicht, reproduziert noch manipuliert werden. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Das Urheberrecht kann nicht an Dritte übertragen oder veräußert werden.
          <br />
          Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
          </p>
      </div>
      <div id="links">
        <p>
          <strong>Links</strong><br />
          Das Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Links umgehend entfernen. Hiermit distanziere ich mich ausdrücklich von allen Inhalten aller gelinkten Seiten auf dieser Webseite.
        </p>
      </div>
      <div id="widerspruch_werbemails">
        <p>
          <strong>Widerspruch Werbe-Mails</strong><br />
          Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
        </p>
      </div>
      <div>
      	<p>&nbsp;</p>
      </div>
      <h5>Datenschutzerklärung</h5>
      <div id="datenschutz">
        <p>
          Mit dieser Datenschutzerklärung möchte wir Sie darüber informieren, wie wir personenbezogene Daten verarbeiten. Wir sind uns bewusst, welche Bedeutung die Verarbeitung personenbezogener Daten für den betroffenen Nutzer hat und beachten dementsprechend alle einschlägigen gesetzlichen Vorgaben. Dabei ist der Schutz Ihrer Privatsphäre für uns von höchster Bedeutung. Deshalb ist das Einhalten der gesetzlichen Bestimmungen zum Datenschutz für uns selbstverständlich.
        </p>
      </div>
      <div id="kontakt_datenschutz">
        <p>
          <strong>Kontakt</strong><br />
          Kristian Ullrich<br />
          August Thienemann Str. 2<br />
          24306 Plön<br />
          Deutschland
        </p>
      </div>
      <div id="zweck">
        <p>
          <strong>Zweck</strong><br />
          Wir verarbeiten Ihre Daten zu den folgenden Zwecken:
          <ul>
            <li><span>Vertragsabwicklung</span></li>
            <li><span>Werbung</span></li>
            <li><span>Qualitätssicherung</span></li>
            <li><span>Statistik</span></li>
        </p>
      </div>
      <div id="rechtsgrundlage">
        <p>
          <strong>Rechtsgrunlage</strong><br />
          Die Verarbeitung Ihrer Daten geschieht auf der folgenden Rechtsgrundlage:
          <ul>
            <li><span>Ihre Einwilligung, Art. 6 Abs. 1 lit. a) DSGVO</span></li>
            <li><span>zur Durchführung eines Vertrags mit Ihnen und zur Erfüllung gesetzlicher Pflichten, Art. 6 Abs. 1 lit. b) DSGVO</span></li>
            <li><span>berechtigte Interessen, Art. 6 Abs. 1 lit. f) DSGVO (siehe unten)</span></li>
          </ul>
        </p>
      </div>
      <div id="berechtigte_interessen">
        <p>
          <strong>Berechtigte Interessen</strong><br />
          Bei der Verarbeitung Ihrer Daten verfolgen wir die folgenden berechtigten Interessen:
          <ul>
            <li><span>Verbesserung unseres Angebots</span></li>
            <li><span>Schutz vor Missbrauch</span></li>
            <li><span>Statistik</span></li>
          </ul>
        </p>
      </div>
      <div id="datenempfaenger">
        <p>
          <strong>Datenempfänger</strong><br />
          Bei der Verarbeitung Ihrer Daten arbeiten wir mit den folgenden Dienstleistern zusammen, die Zugriff auf Ihre Daten haben:
          <ul>
            <li><span>Webhosting-Anbieter: DomainFactory https://www.df.eu</span></li>
            <li><span>Anbieter von Social-Media-Plattformen: Xing, LinkedIn, Pinterest, Instagram, Twitter</span></li>
          </ul>
        </p>
      </div>
      <div id="datenquellen">
        <p>
          <strong>Datenquellen</strong><br />
          Wir erhalten die Daten von Ihnen (einschließlich über die von Ihnen verwendeten Geräte).
        </p>
      </div>
      <div id="datenuebertragung">
        <p>
          <strong>Datenübertragung in Drittländer</strong><br />
          Es findet eine Datenübertragung in Drittländer außerhalb der Europäischen Union statt. Dies erfolgt auf der Grundlage gesetzlich vorgesehener vertraglicher Regelungen, die einen angemessenen Schutz Ihrer Daten sicherstellen sollen und die Sie auf Anfrage einsehen können.
        </p>
      </div>
      <div id="speicherdauer">
        <p>
          <strong>Speicherdauer</strong><br />
          Wir speichern Ihre Daten,
          <ul>
            <li><span>wenn Sie in die Verarbeitung eingewilligt haben höchstens solange, bis Sie Ihre Einwilligung widerrufen,</span></li>
            <li><span>wenn wir die Daten zur Durchführung eines Vertrags oder zur Erfüllung gesetzlicher Pflichten benötigen höchstens solange, wie das Vertragsverhältnis mit Ihnen besteht oder gesetzliche Aufbewahrungsfristen laufen,</span></li>
            <li><span>wenn wir die Daten auf der Grundlage eines berechtigten Interesses verwenden höchstens solange, wie Ihr Interesse an einer Löschung oder Anonymisierung nicht überwiegt.</span></li>
          </ul>
        </p>
      </div>
      <div id="rechte_betroffene">
        <p>
          <strong>Rechte des Betroffenen</strong><br />
          Sie haben – teilweise unter bestimmten Voraussetzungen – das Recht,
          <ul>
            <li><span>Auskunft über die Verarbeitung Ihrer Daten zu verlangen,</span></li>
            <li><span>Ihre Daten zu berichtigen,</span></li>
            <li><span>Ihre Daten löschen oder sperren zu lassen,</span></li>
            <li><span>die Verarbeitung einschränken zu lassen,</span></li>
            <li><span>der Verarbeitung Ihrer Daten zu widersprechen,</span></li>
            <li><span>Ihre Daten in einem übertragbaren Format zu erhalten und einem Dritten zu übermitteln,</span></li>
            <li><span>Ihre Einwilligung zur Verarbeitung Ihrer Daten für die Zukunft zu widerrufen und</span></li>
            <li><span>sich bei der zuständigen Aufsichtsbehörde über eine unzulässige Datenverarbeitung zu beschweren.</span></li>
          </ul>
        </p>
      </div>
      <div id="erfordernis">
        <p>
          <strong>Erfordernis oder Verpflichtung zur Bereitstellung von Daten</strong><br />
          Soweit dies bei der Erhebung nicht ausdrücklich angegeben ist, ist die Bereitstellung von Daten nicht erforderlich oder verpflichtend.
        </p>
      </div>
      <div id="stand_datenschutz">
        <p>
          <strong>Stand dieser Datenschutzerklärung</strong>
          <br>
          01. Januar 2022
          <br>
          Wir behalten uns vor, diese Datenschutzerklärung jederzeit mit Wirkung für die Zukunft zu ändern.
        </p>
      </div>
      <div>
      	<p style="text-align: center">
          &copy; 2022 Kristian Ullrich. All rights reserved. 
        </p>
      </div>
    </div>
  </section>
