<!-- Services Section -->
    <section id="research">
        <div class="container" data-spy="scroll" data-target="#mainNav">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">Species, population genomics and evolution</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p class="text-muted">My research is about "omics" data not restricted to any kingdom in the tree of life. Seeing my research as a tree, the tips would represent population genomics, the branches would represent comparative genomics and the nodes evolution. Anyhow, almost always the projects are linked to phylogenomics and "big data" analysis to highlight natural variation.</p>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-five"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Species Trees</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-eight"></i>
                        <i class="fa fa-chart-bar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Population genomics</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-three"></i>
                        <i class="fa fa-hourglass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gene age</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
