  <!-- About Me Section -->
    <section id="software">
         <div class="container" data-spy="scroll" data-target="#mainNav">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">software</h2>
                    <h3 class="section-subheading text-muted">development</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://github.com/kullrich" style="display: block;">
                            <i class="fa fa-circle fa-stack-2x text-four"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <span class="fa-stack fa-4x">
                        <a href="https://gitlab.gwdg.de/kristian.ullrich" style="display: block;">
                            <i class="fa fa-circle fa-stack-2x text-seven"></i>
                            <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <h4 class="service-heading">Repositories</h4>
                    <p class="text-muted">Source code and useful scripts for bioinformatic projects.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://mpievolbio-it.pages.gwdg.de/crbhits/" style="display: block;"><object type="image/svg+xml" data="./img/svg/CRBHitsLogo.svg" class="svg-icon-128" style="pointer-events: none;"></object></a>
                    </span>
                    <h4 class="service-heading">CRBHits</h4>
                    <p class="text-muted">CRBHits is a reimplementation of the Conditional Reciprocal Best Hit algorithm crb-blast in R. It covers all necessary steps from CRBHit pair calculation to Codon Alignments and Ka/Ks.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://mpievolbio-it.pages.gwdg.de/rforbeginners/" style="display: block;">
                        <i class="fa fa-circle fa-stack-2x text-six"></i>
                        <i class="fa fa-keyboard fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">Notes and some examples how to use <i class="fab fa-r-project"></i> and <i class="fab fa-python"></i> for population genomics and phylogeny.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="http://www.labutils.de/rd.html" style="display: block;"><object type="image/png" data="img/software/rootdetection_splash.png" style="pointer-events: none;"></object></a>
                    </span>
                    <h4 class="service-heading">RootDetection</h4>
                    <p class="text-muted">RootDetection is an automated tool for evaluating photographs of plant roots. It detects single strand roots, traces their paths and measures the resulting lengths - completely automatic..</p>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
