.svg-icon-16 {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.svg-icon-32 {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.svg-icon-64 {
    width: 64px;
    height: 64px;
    display: inline-block;
}

.svg-icon-80 {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.svg-icon-128 {
    width: 128px;
    height: 128px;
    display: inline-block;
}

.svg-icon-256 {
    width: 256px;
    height: 256px;
    display: inline-block;
}

