<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body id="page-top" class="index" data-spy="scroll" data-target="#mainNav" data-offset="50">

    {%- include header.html -%}
    {%- include home.html -%}
    {%- include research.html -%}
    {%- include software.html -%}
    {%- include aboutme.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include js.html -%}

  </body>

</html>
